<nav class="fh5co-nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="index.html">Stamina<span>.</span></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="about.html">Trainer</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li class="has-dropdown">
                            <a href="blog.html">Blog</a>
                            <ul class="dropdown">
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">eCommerce</a></li>
                                <li><a href="#">Branding</a></li>
                                <li><a href="#">API</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</nav>

<div class="content">
    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Make it a lifestyle, not a duty</h1>
                            <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
                            <p><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn btn-primary popup-vimeo">Watch Our Video</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div id="fh5co-services" class="fh5co-bg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <span><img class="img-responsive" src="images/dumbbell.svg" alt=""></span>
                        <h3>Weight Lifting</h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius</p>
                        <p><a href="#" class="btn btn-primary btn-outline btn-sm">More <i class="icon-arrow-right"></i></a></p>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <span><img class="img-responsive" src="images/exercise.svg" alt=""></span>
                        <h3>Running</h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius</p>
                        <p><a href="#" class="btn btn-primary btn-outline btn-sm">More <i class="icon-arrow-right"></i></a></p>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <span><img class="img-responsive" src="images/yoga-carpet.svg" alt=""></span>
                        <h3>Yoga</h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius</p>
                        <p><a href="#" class="btn btn-primary btn-outline btn-sm">More <i class="icon-arrow-right"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-schedule" class="fh5co-bg" style="background-image: url(images/img_bg_1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>Class Schedule</h2>
                </div>
            </div>
    
            <div class="row animate-box">
                <div class="fh5co-tabs">
                    <ul class="fh5co-tab-nav">
                        <li class="active"><a href="#" data-tab="1"><span class="visible-xs">S</span><span class="hidden-xs">Sunday</span></a></li>
                        <li><a href="#" data-tab="2"><span class="visible-xs">M</span><span class="hidden-xs">Monday</span></a></li>
                        <li><a href="#" data-tab="3"><span class="visible-xs">T</span><span class="hidden-xs">Tuesday</span></a></li>
                        <li><a href="#" data-tab="4"><span class="visible-xs">W</span><span class="hidden-xs">Wednesday</span></a></li>
    
                        <li><a href="#" data-tab="5"><span class="visible-xs">Th</span><span class="hidden-xs">Thursday</span></a></li>
                        <li><a href="#" data-tab="6"><span class="visible-xs">F</span><span class="hidden-xs">Friday</span></a></li>
                        <li><a href="#" data-tab="7"><span class="visible-xs">S</span><span class="hidden-xs">Saturday</span></a></li>
                    </ul>
    
                    <!-- Tabs -->
                    <div class="fh5co-tab-content-wrap">

                        <div class="fh5co-tab-content tab-content active" data-tab-content="1">
                            <ul class="class-schedule">
                                <li class="text-center">
                                    <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Cardio</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                    <span class="time">9:00 AM - 11AM</span>
                                    <h4>Body Building</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/yoga-carpet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">6:00 AM - 7AM</span>
                                    <h4>Yoga</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/two-boxing-gloves.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Boxing</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/ballet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Ballet Dance</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                    <span class="time">9:00 AM - 11AM</span>
                                    <h4>Body Building</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/yoga-carpet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">6:00 AM - 7AM</span>
                                    <h4>Yoga</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Cardio</h4>
                                    <small>Angel Adams</small>
                                </li>
                            </ul>
                        </div>
    
                        <div class="fh5co-tab-content tab-content active" data-tab-content="2">
                            <ul class="class-schedule">
                                <li class="text-center">
                                    <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Cardio</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                    <span class="time">9:00 AM - 11AM</span>
                                    <h4>Body Building</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/yoga-carpet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">6:00 AM - 7AM</span>
                                    <h4>Yoga</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/two-boxing-gloves.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Boxing</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/ballet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Ballet Dance</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                    <span class="time">9:00 AM - 11AM</span>
                                    <h4>Body Building</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/yoga-carpet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">6:00 AM - 7AM</span>
                                    <h4>Yoga</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Cardio</h4>
                                    <small>Angel Adams</small>
                                </li>
                            </ul>
                        </div>
    
                        <div class="fh5co-tab-content tab-content active" data-tab-content="3">
                            <ul class="class-schedule">
                                <li class="text-center">
                                    <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Cardio</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                    <span class="time">9:00 AM - 11AM</span>
                                    <h4>Body Building</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/yoga-carpet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">6:00 AM - 7AM</span>
                                    <h4>Yoga</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/two-boxing-gloves.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Boxing</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/ballet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Ballet Dance</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                    <span class="time">9:00 AM - 11AM</span>
                                    <h4>Body Building</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/yoga-carpet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">6:00 AM - 7AM</span>
                                    <h4>Yoga</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Cardio</h4>
                                    <small>Angel Adams</small>
                                </li>
                            </ul>
                        </div>
    
                        <div class="fh5co-tab-content tab-content active" data-tab-content="4">
                            <ul class="class-schedule">
                                <li class="text-center">
                                    <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Cardio</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                    <span class="time">9:00 AM - 11AM</span>
                                    <h4>Body Building</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/yoga-carpet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">6:00 AM - 7AM</span>
                                    <h4>Yoga</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/two-boxing-gloves.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Boxing</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/ballet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Ballet Dance</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                    <span class="time">9:00 AM - 11AM</span>
                                    <h4>Body Building</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/yoga-carpet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">6:00 AM - 7AM</span>
                                    <h4>Yoga</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Cardio</h4>
                                    <small>Angel Adams</small>
                                </li>
                            </ul>
                        </div>
    
                        <div class="fh5co-tab-content tab-content active" data-tab-content="5">
                            <ul class="class-schedule">
                                <li class="text-center">
                                    <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Cardio</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                    <span class="time">9:00 AM - 11AM</span>
                                    <h4>Body Building</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/yoga-carpet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">6:00 AM - 7AM</span>
                                    <h4>Yoga</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/two-boxing-gloves.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Boxing</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/ballet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Ballet Dance</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                    <span class="time">9:00 AM - 11AM</span>
                                    <h4>Body Building</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/yoga-carpet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">6:00 AM - 7AM</span>
                                    <h4>Yoga</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Cardio</h4>
                                    <small>Angel Adams</small>
                                </li>
                            </ul>
                        </div>
    
                        <div class="fh5co-tab-content tab-content active" data-tab-content="6">
                            <ul class="class-schedule">
                                <li class="text-center">
                                    <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Cardio</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                    <span class="time">9:00 AM - 11AM</span>
                                    <h4>Body Building</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/yoga-carpet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">6:00 AM - 7AM</span>
                                    <h4>Yoga</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/two-boxing-gloves.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Boxing</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/ballet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Ballet Dance</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                    <span class="time">9:00 AM - 11AM</span>
                                    <h4>Body Building</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/yoga-carpet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">6:00 AM - 7AM</span>
                                    <h4>Yoga</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Cardio</h4>
                                    <small>Angel Adams</small>
                                </li>
                            </ul>
                        </div>
    
                        <div class="fh5co-tab-content tab-content active" data-tab-content="7">
                            <ul class="class-schedule">
                                <li class="text-center">
                                    <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Cardio</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                    <span class="time">9:00 AM - 11AM</span>
                                    <h4>Body Building</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/yoga-carpet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">6:00 AM - 7AM</span>
                                    <h4>Yoga</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/two-boxing-gloves.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Boxing</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/ballet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Ballet Dance</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                    <span class="time">9:00 AM - 11AM</span>
                                    <h4>Body Building</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/yoga-carpet.svg" class="img-responsive" alt=""></span>
                                    <span class="time">6:00 AM - 7AM</span>
                                    <h4>Yoga</h4>
                                    <small>Angel Adams</small>
                                </li>
                                <li class="text-center">
                                    <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                    <span class="time">7:00 AM - 8AM</span>
                                    <h4>Cardio</h4>
                                    <small>Angel Adams</small>
                                </li>
                            </ul>
                        </div>
    
                    </div>
    
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-pricing">
		<div class="container datvi">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Pricing Plan</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="pricing">
					<div class="col-md-3 animate-box">
						<div class="price-box">
							<h2 class="pricing-plan">Starter</h2>
							<div class="price"><sup class="currency">$</sup>9<small>/month</small></div>
							<ul class="classes">
								<li>15 Cardio Classes</li>
								<li class="color">10 Swimming Lesson</li>
								<li>10 Yoga Classes</li>
								<li class="color">20 Aerobics</li>
								<li>10 Zumba Classes</li>
								<li class="color">5 Massage</li>
								<li>10 Body Building</li>
							</ul>
							<a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
						</div>
					</div>

					<div class="col-md-3 animate-box">
						<div class="price-box">
							<h2 class="pricing-plan">Basic</h2>
							<div class="price"><sup class="currency">$</sup>27<small>/month</small></div>
							<ul class="classes">
								<li>15 Cardio Classes</li>
								<li class="color">10 Swimming Lesson</li>
								<li>10 Yoga Classes</li>
								<li class="color">20 Aerobics</li>
								<li>10 Zumba Classes</li>
								<li class="color">5 Massage</li>
								<li>10 Body Building</li>
							</ul>
							<a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
						</div>
					</div>

					<div class="col-md-3 animate-box">
						<div class="price-box popular">
							<h2 class="pricing-plan pricing-plan-offer">Pro <span>Best Offer</span></h2>
							<div class="price"><sup class="currency">$</sup>74<small>/month</small></div>
							<ul class="classes">
								<li>15 Cardio Classes</li>
								<li class="color">10 Swimming Lesson</li>
								<li>10 Yoga Classes</li>
								<li class="color">20 Aerobics</li>
								<li>10 Zumba Classes</li>
								<li class="color">5 Massage</li>
								<li>10 Body Building</li>
							</ul>
							<a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
						</div>
					</div>

					<div class="col-md-3 animate-box">
						<div class="price-box">
							<h2 class="pricing-plan">Unlimited</h2>
							<div class="price"><sup class="currency">$</sup>140<small>/month</small></div>
							<ul class="classes">
								<li>15 Cardio Classes</li>
								<li class="color">10 Swimming Lesson</li>
								<li>10 Yoga Classes</li>
								<li class="color">20 Aerobics</li>
								<li>10 Zumba Classes</li>
								<li class="color">5 Massage</li>
								<li>10 Body Building</li>
							</ul>
							<a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer class="container-fluid">
    <div class="container">
      <div class="row">

        <div class="col-md-3 footer1 d-flex wow bounceInLeft" data-wow-delay=".25s">
            <p>test</p>
        </div>

        <div class="col-md-6 footer2 wow bounceInUp" data-wow-delay=".25s" id="contact">
          <div class="form-box">
            <h4>CONTACT US</h4>
            <table class="table table-responsive d-table">
              <tr>
                <td><input type="text" class="form-control pl-0" placeholder="NAME" /></td>
                <td><input type="email" class="form-control pl-0" placeholder="EMAIL" /></td>
              </tr>
              <tr>
                <td colspan="2"></td>
              </tr>
              <tr>
                <td colspan="2"><input type="text" class="form-control pl-0" placeholder="ADDRESS" /></td>
              </tr>
              <tr>
                <td colspan="2"></td>
              </tr>
              <tr>
                <td colspan="2"><input type="text" class="form-control pl-0" placeholder="MESSAGES" /></td>
              </tr>
              <tr>
                <td colspan="2"></td>
              </tr>
              <tr>
                <td colspan="2" class="text-center pl-0"><button type="submit" class="btn btn-dark">SEND</button></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-md-3 footer3 wow bounceInRight" data-wow-delay=".25s">
            <p>test</p>
        </div>

      </div>
    </div>
</footer> 